<h1>Calendar Setup Help</h1>

<p>To set up syncing for a calendar you need the URL of a so called <code>.ics</code> file.</p>

<h2>Google Calendar</h2>

<p>On Google Calendar to obtain the URL click on a calendar in the side bar on the left and then on <em>Calendar Settings</em></p>.

<p><img src="/images/google1.png" width="300"/></p>

<p>Click on the <em>iCal</em> icon under <em>Private Address</em>.</p>

<p><img src="/images/google2.png" width="350"/></p>

<p>Then copy the URL and paste it in the form here.</p>

<p><img src="/images/google3.png" width="600"/></p>

<h2>Liquidspace</h2>

<p>To import bookings from Liquidspace you first need to set up Liquidspace with Google Calendar. After you've set up Google Calendar please follow the steps above.</p>

<p>Here's a video of how to set up Liquidspace and Google Calendar:</p>

<iframe width="720" height="405" src="//www.youtube.com/embed/vywIUQ0MnOQ?rel=0" frameborder="0" allowfullscreen></iframe>
