<h1>Calendar Setup Help</h1>

To set up syncing for a calendar you need the URL of a so called `.ics` file.

<h2>Google Calendar</h2>

On Google Calendar to obtain the URL click on a calendar in the side bar on the left and then on <em>Calendar Settings</em>. You will see an <em>iCal</em> icon. Click on it and copy/paste the URL shown.

<h2>Liquidspace</h2>

To import bookings from Liquidspace you first need to set up Liquidspace with Google Calendar. The steps to do that are described on Liquidspace. After you've set up Google Calendar please follow the steps above.
