<div class="hero-unit">
  <h1>Calendar Sync for Cobot</h1>
  <p>This app syncs events from services like <a href="http://calendar.google.com">Google Calendar</a> or <a href="http://liquidspace.com">Liquidspace</a> to the <a href="http://cobot.me">Cobot</a> booking calendar.</p>
  <p><a class="btn btn-primary" href="/auth/cobot">Log in</a></p>
</div>
